<%= form_for(@child) do |f| %>
	<div class="field">
	  <%= f.label :allergies, "Allergies" %>
	  <%= f.check_box :allergies %><br>
	</div>
	<div class="field">
	  <%= f.label :allergies_info, " Allergies Information" %>
	  <%= f.text_area :allergies_info %><br>
	</div>
<% end %>