<%= form_for(@child) do |f| %>
  
  <% if @child.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@child.errors.count, "error") %> prohibited this child from being saved:</h2>
      <ul>
      <% @child.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table>
    <tr>
      <th>  <%= f.label :name, "Name" %>  </th>
      <td>  <%= f.text_field :name %>     </td>
    </tr>
    <tr>
      <th>  <%= f.label :gender, "Gender" %>  </th>
      <td>  <%= f.select :gender, options_for_select(%w[Male Female]) %>  </td>
    </tr>
    <tr>
      <th>  <%= f.label :DOB, "DOB" %>  </th>
      <td>  <div class="dob"><%= f.date_select :DOB, :start_year => Time.now.year, :end_year=>1920, 
      :selected => Time.now.year %></div>  </td>
    </tr>
    <tr>
      <th>  <%= f.label :location, "Location" %>   </th>
      <td>  <%= f.text_field :location %>  </td>
    </tr>
    <tr>
      <th>  <%= f.check_box :no_parent_present %>  </th>
      <td>  <%= f.label :Child_examined_No_parent_present, "Child Examened; No Parent Present" %>  </td>
      <th>  <%= f.check_box :parental_permission_given %>  </th>
      <td>  <%= f.label :Parental_permission_given, "Parental Permission Given" %>  </td>
    </tr>
  </table>
  
  <%= render 'allergies' %>
  <%= render 'immunizations' %>
  <%= render 'relevant' %>
<% end %>
  
  <div class="field">
