<%= simple_form_for(@child) do |f| %>
  
  <% if @child.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@child.errors.count, "error") %> prohibited this child from being saved:</h2>
      <ul>
      <% @child.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :name, "Name" %>
  <%= f.text_field :name %>
  
  <%= f.label :gender, "Gender" %>
  <%= f.select :gender, options_for_select(%w[Male Female]) %>
  
  <%= f.label :DOB, "DOB" %>
  <div class="dob">
    <%= f.date_select :DOB, :start_year => Time.now.year, :end_year=>1920, 
      :selected => Time.now.year %>
  </div>
  
  <%= f.label :location, "Location" %>
  <%= f.text_field :location %>
    
  <%= f.check_box :no_parent_present %>
  <%= f.label :Child_examined_No_parent_present, "Child Examened; No Parent Present" %>

  <%= f.check_box :parental_permission_given %>
  <%= f.label :Parental_permission_given, "Parental Permission Given" %>
  
  <%= f.label :allergies, "Allergies" %>
  <%= f.check_box :allergies %>
  
  <%= f.label :allergies_info, " Allergies Information" %>
  <%= f.text_area :allergies_info %>
  
  <p>
    Immunizations
  </p>
  
  <%= f.label :immunization_utd, "UTD" %>
  <%= f.check_box :immunization_utd %>
  
  <%= f.label :dtap, "DTaP" %>
  <%= f.check_box :dtap %>
  
  <%= f.label :hib, "Hib" %>
  <%= f.check_box :hib %>

  <%= f.label :pneumovax, "Pneumovax" %>
  <%= f.check_box :pneumovax %>
  
  <%= f.label :hepa, "HepA"%>
  <%= f.check_box :hepa %>

  <%= f.label :influenza, "Influenza" %>
  <%= f.check_box :influenza %>

  <%= f.label :mmr, "MMR" %>
  <%= f.check_box :mmr %>
  
  <%= f.label :immunization_review, "Immunization Needed" %>
  <%= f.text_area :immunization_review %>
  
  <%= f.label :relevant_information, "Relevant Information(optional)" %>
  <%= f.text_area :relevant_information %>
  
  <%= f.label :absences, "Absences" %>
  <%= f.text_area :absences %>
  
  <div  class: "btn btn-large btn-primary">
    <%= f.submit %>
  </div>
<% end %>
