<%= form_for(@child, html: {class:"form-horizontal"}) do |f| %>
  
  <% if @child.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@child.errors.count, "error") %> prohibited this child from being saved:</h2>
      <ul>
      <% @child.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table class="table table-bordered">
  <thead class="directory">
    <tr>
      <td></td>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td></td>
      
    </tr>
    
  </tbody>
</table>

  <p>
    <%= f.label :name, "Name" %>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :gender, "Gender" %>
    <%= f.select :gender,  options_for_select(%w[Male Female]), {}, html_options={:class =>"select_field"} %>
  </p>

  <p>
    <%= f.label :dob, "DOB" %>
    <%= f.date_select :dob, options={:start_year => Time.now.year, :end_year=>1920, :selected => Time.now.year}, html_options={:class=>"date_field"} %>
  </p>

  <p>
    <%= f.label :location, "Location" %>
    <%= f.text_field :location %>
  </p>  

  <p>
    <%= f.check_box :no_parent_present, :class=>"checkbox_field" %>
    <%= f.label :Child_examined_No_parent_present, "Child Examened; No Parent Present", :class=>"checkbox_label_field" %>
  </p>
  <br/>
  <br/>
  <p>
    <%= f.check_box :parental_permission_given, :class=>"checkbox_label_field" %>
    <%= f.label :Parental_permission_given, "Parental Permission Given", :class=>"checkbox_label_field" %>
  </p>
  <br/>
  <br/>
  <p>
    <%= f.check_box :allergies, :class=>"checkbox_field" %>
    <%= f.label :allergies, "Allergies", :class=>"checkbox_label_field" %>
  </p>
  <br/>
  <p>
    <%= f.label :allergies_info, "Allergies Information" %>
    <%= f.text_area :allergies_info %>
  </p>

  <p>
    Immunizations Needed
  </p>
  
  <p>
    <%= f.label :immunization_utd, "UTD" %>
    <%= f.check_box :immunization_utd %>
  </p>
  <p>
    <%= f.label :dtap, "DTaP" %>
    <%= f.check_box :dtap %>
  </p>
  <p>
    <%= f.label :hib, "Hib" %>
    <%= f.check_box :hib %>
  </p>
  <p>
    <%= f.label :pneumovax, "Pneumovax" %>
    <%= f.check_box :pneumovax %>
  </p>
  <p>
    <%= f.label :hepa, "HepA"%>
    <%= f.check_box :hepa %>
  </p>
  <p>
    <%= f.label :influenza, "Influenza" %>
    <%= f.check_box :influenza %>
  </p>
  <p>
    <%= f.label :mmr, "MMR" %>
    <%= f.check_box :mmr %>
  </p>

  <p>
    <%= f.label :immunization_review, "Immunization Needed" %>
    <%= f.text_area :immunization_review %>
  </p>
  
  <p>
    <%= f.label :relevant_information, "Relevant Information (optional)" %>
    <%= f.text_area :relevant_information %>
  </p>
 
  <p>
    <%= f.label :absences, "Absences" %>
    <%= f.text_area :absences %>
  </p>

  <div  class: "btn btn-large btn-primary">
    <%= f.submit %>
  </div>
<% end %>
