<h1><%= @child.last_name %>, <%= @child.first_name %></h1>
<h3>Edit Demographics</h3>

<%= form_for(@child, html: {class:"form-horizontal"}) do |f| %>
  
  <% if @child.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@child.errors.count, "error") %> prohibited this child from being saved:</h2>
      <ul>
        <% @child.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table class="table table-bordered">
    <tbody>
      <tr>
        <td class="roster_td" colspan="">
          <%= f.label :"Gender: " %>
        </td>
        <td>
          <%= f.select :gender,  options_for_select(%w[Male Female]), {}, html_options={:class =>"select_field"} %>
        </td>
      </tr>
      <tr>
        <td class="roster_td" colspan="">
          <%= f.label :"DOB: " %>
        </td>
        <td>
          <%= f.date_select :dob, options={:start_year => Time.now.year, :end_year=>1920, :selected => Time.now.year}, html_options={:class=>"date_field"} %>
        </td>
      </tr>
      <tr>
      	<td class="roster_td" colspan="">
	      	<%= f.label :"Site Location: " %>
      	</td>
      	<td>
      		<%= f.text_field :location %>
      	</td>
      </tr>
      <tr>
      	<td class="roster_td" colspan="">
          <%= f.label "Child Examened; No Parent Present", :class=>"checkbox_label_field" %>
        </td>
        <td>
          <%= f.check_box :no_parent_present, :class=>"checkbox_field" %>
        </td>
      </tr>
      <tr>
      	<td class="roster_td" colspan="">
    			<%= f.label "Parental Permission Given", :class=>"checkbox_label_field" %>
      	</td>
      	<td>
      		<%= f.check_box :parental_permission_given, :class=>"checkbox_label_field" %>
      	</td>
      </tr>
      <tr>
        <td class="roster_td" colspan="">
          <%= f.label "Allergies" %>
        </td>
        <td>
          <%= f.text_area :allergies %>
        </td>
      </tr>
      <tr>
        <td class="roster_td" colspan="">
          <%= f.label "Reaction Type" %>
        </td>
        <td>
          <%= f.text_area :allergies_information %>
        </td>
      </tr>
      <tr>
        <td class="roster_td" colspan="2">
          Immunization History
        </td>
      </tr>
      <tr>
        <td class="roster_td" colspan="">
          <%= f.label :immunization_utd, 'UTD' %>
        </td>
        <td>
          <%= f.check_box :immunization_utd %>
        </td>
      </tr>

      
      <tr>
        <td class="roster_td" colspan="">
          <%= f.label :dtap, "DTaP" %>
        </td>
        <td>
          <%= f.check_box :dtap %>
        </td>
      </tr>
      <tr>
        <td class="roster_td" colspan="">
          <%= f.label :hib, "Hib" %>
        </td>
        <td>
          <%= f.check_box :hib %>
        </td>
      </tr>
      <tr>
        <td class="roster_td" colspan="">
          <%= f.label :pneumovax, "Pneumovax" %>
        </td>
        <td>
          <%= f.check_box :pneumovax %>
        </td>
      </tr>
      <tr>
        <td class="roster_td" colspan="">
          <%= f.label :hepa, "HepA"%>
        </td>
        <td>
          <%= f.check_box :hepa %>
        </td>
      </tr>
      <tr>
        <td class="roster_td" colspan="">
          <%= f.label :hepb, "HepB"%>
        </td>
        <td>
          <%= f.check_box :hepb %>
        </td>
      </tr>
      <tr>
        <td class="roster_td" colspan="">
          <%= f.label :influenza, "Influenza" %>
        </td>
        <td>
          <%= f.check_box :influenza %>
        </td>
      </tr>
      <tr>
        <td class="roster_td" colspan="">
          <%= f.label :mmr, "MMR" %>
        </td>
        <td>
          <%= f.check_box :mmr %>
        </td>
      </tr>
      <tr>
        <td class="roster_td" colspan="">
          <%= f.label :immunization_needed, "Additional Immunizations" %>
        </td>
        <td>
          <%= f.text_area :immunization_needed %>
        </td>
      </tr>
      <tr>
      </tr>

      <tr>
        <td class="roster_td" colspan="">
          <%= f.label :revelant_information, "Relevant Information (Past medical history, medications, etc)" %>
        </td>
        <td>
          <%= f.text_area :revelant_information %>
        </td>
      </tr>
      <tr>
        <td class="roster_td" colspan="">
          <%= f.label :absences, "Absences" %>
        </td>
        <td>
          <%= f.text_area :absences %>
        </td>
      </tr>
    </tbody>
  </table>

  <% if @child_id.nil?%>
    <%= f.hidden_field :child_id, value: params[:child_id]%>
  <% else %>
    <%= f.hidden_field :child_id, value: @child_id%>
  <% end %>
  
  <div  class: "btn btn-large btn-primary">
    <%= f.submit 'Update Demographics' %>
  </div>
<% end %>

<%= link_to 'Back', @child %> |
<%= link_to 'Directory', children_path %>