<h1><%= @child.last_name %>, <%= @child.first_name %></h1>
<h3>Edit Assessment</h3>

<%= form_for(@child, html: {class:"form-horizontal"}) do |f| %>
  
  <% if @child.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@child.errors.count, "error") %> prohibited this child from being saved:</h2>
      <ul>
        <% @child.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table class="table table-bordered">
    <tbody>

      <tr>
        <td class="physical_title" colspan="4">
          Well Child Check
        </td>
      </tr>
      <tr>
        <td class="physical_td_radial_label">
          WNL
        </td>
        <td  class="physical_td_radial_label">
          AB
        </td>
        <td class="physical_td_radial_label">
          Not Evaluated
        </td>
        <td class="physical_td_radial_label">
          Unable To Cooperate
        </td>
      </tr>
      <tr>
        <td class="physical_td_radial">
          <%= f.radio_button(:well_child_check, "WNL") %>
        </td>
        <td class="physical_td_radial">
          <%= f.radio_button(:well_child_check, "Abnormal") %>
        </td>
        <td class="physical_td_radial">
          <%= f.radio_button(:well_child_check, "Not Evaluated") %>
        </td>
        <td class="physical_td_radial">
          <%= f.radio_button(:well_child_check, "Unable to cooperate") %>
        </td>
      </tr>

      <tr>
        <td class="physical_title" colspan="4">
          <p>Physical Exam</p>
        </td>
      </tr>
      <tr>
        <td colspan="4">
          <%= f.label :Comments, "1.) " %>
          <%= f.text_field :children_01, :class => "physical_comment_field" %>     
        </td>
      </tr>
      <tr>
        <td colspan="4">
          <%= f.label :Comments, "2.) " %>
          <%= f.text_field :children_02, :class => "physical_comment_field" %>     
        </td>
      </tr>
      <tr>
        <td colspan="4">
          <%= f.label :Comments, "3.) " %>
          <%= f.text_field :children_03, :class => "physical_comment_field" %>     
        </td>
      </tr>
      <tr>
        <td colspan="4">
          <%= f.label :Comments, "4.) " %>
          <%= f.text_field :children_04, :class => "physical_comment_field" %>     
        </td>
      </tr>
      <tr>
        <td colspan="4">
          <%= f.label :Comments, "5.) " %>
          <%= f.text_field :children_05, :class => "physical_comment_field" %>     
        </td>
      </tr>
      <tr>
        <td colspan="4">
          <%= f.label :Comments, "6.) " %>
          <%= f.text_field :children_06, :class => "physical_comment_field" %>     
        </td>
      </tr>
      <tr>
        <td colspan="4">
          <%= f.label :Comments, "7.) " %>
          <%= f.text_field :children_07, :class => "physical_comment_field" %>     
        </td>
      </tr>
      <tr>
        <td colspan="4">
          <%= f.label :Comments, "8.) " %>
          <%= f.text_field :children_08, :class => "physical_comment_field" %>     
        </td>
      </tr>
      <tr>
        <td colspan="4">
          <%= f.label :Comments, "9.) " %>
          <%= f.text_field :children_09, :class => "physical_comment_field" %>     
        </td>
      </tr>
      <tr>
        <td colspan="4">
          <%= f.label :Comments, "10.) " %>
          <%= f.text_field :children_10, :class => "physical_comment_field" %>     
        </td>
      </tr>

      <tr>
        <td class="physical_title" colspan="4">
          Follow Up
        </td>
      </tr>
      <tr>
        <td colspan="4">
          <%= f.label :Comments, "1.) " %>
          <%= f.text_field :follow_up_01, :class => "physical_comment_field" %>     
        </td>
      </tr>
      <tr>
        <td colspan="4">
          <%= f.label :Comments, "2.) " %>
          <%= f.text_field :follow_up_02, :class => "physical_comment_field" %>     
        </td>
      </tr>
      <tr>
        <td colspan="4">
          <%= f.label :Comments, "3.) " %>
          <%= f.text_field :follow_up_03, :class => "physical_comment_field" %>     
        </td>
      </tr>
      <tr>
        <td colspan="4">
          <%= f.label :Comments, "4.) " %>
          <%= f.text_field :follow_up_04, :class => "physical_comment_field" %>     
        </td>
      </tr>
      <tr>
        <td colspan="4">
          <%= f.label :Comments, "5.) " %>
          <%= f.text_field :follow_up_05, :class => "physical_comment_field" %>     
        </td>
      </tr>
      <tr>
        <td colspan="4">
          <%= f.label :Comments, "6.) " %>
          <%= f.text_field :follow_up_06, :class => "physical_comment_field" %>     
        </td>
      </tr>
      <tr>
        <td colspan="4">
          <%= f.label :Comments, "7.) " %>
          <%= f.text_field :follow_up_07, :class => "physical_comment_field" %>     
        </td>
      </tr>
      <tr>
        <td colspan="4">
          <%= f.label :Comments, "8.) " %>
          <%= f.text_field :follow_up_08, :class => "physical_comment_field" %>     
        </td>
      </tr>
      <tr>
        <td colspan="4">
          <%= f.label :Comments, "9.) " %>
          <%= f.text_field :follow_up_09, :class => "physical_comment_field" %>     
        </td>
      </tr>
      <tr>
        <td colspan="4">
          <%= f.label :Comments, "10.) " %>
          <%= f.text_field :follow_up_10, :class => "physical_comment_field" %>     
        </td>
      </tr>

      <tr>
        <td class="physical_title" colspan="4">
          Anticipatory Education/Guidance (As per guidance)
        </td>
      </tr>
      <tr>
        <td colspan="4">
          <%= f.text_field :guidance, :class => "physical_comment_field" %>     
        </td>
      </tr>

      <tr>
        <td colspan="4">
          <%= f.check_box :chart_complete, :class=>"checkbox_field" %>
          <%= f.label :chart_complete, "Chart Complete", :class=>"checkbox_label_field" %>
        </td>
      </tr>
      <tr>
        <td colspan="4">
          <h3>By marking this box as complete NP student verifies that all screenings and SMP encounters are complete and have been reviewed by the faculty.</h3>
        </td>
      </tr>

      <tr>
        <td><%= f.label :np_signature, "NP signature" %></td>
        <td><%= f.text_field :np_signature %></td>
      </tr>
      <tr>
        <td><%= f.label :Faculty_signature, "faculty signature" %></td>
        <td><%= f.text_field :faculty_signature %></td>
      </tr>
      <tr>
        <td><%= f.label :Other_np_signature, "Other NP signature" %></td>
        <td><%= f.text_field :other_np_signature %></td>
      </tr>
    </tbody>
  </table>

  <% if @child_id.nil?%>
    <%= f.hidden_field :child_id, value: params[:child_id]%>
  <% else %>
    <%= f.hidden_field :child_id, value: @child_id%>
  <% end %>
  
  <div  class: "btn btn-large btn-primary">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Back', @child %> |
<%= link_to 'Directory', children_path %>