<h1><%= @child.last_name %>, <%= @child.first_name %></h1>
<h3>Vision Screening</h3>

<%= form_for(@child, :url => patch_vision_path, html: {class:"form-horizontal"}) do |f| %>
  
  <% if @child.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@child.errors.count, "error") %> prohibited this child from being saved:</h2>
      <ul>
        <% @child.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <table class="table table-bordered">
    <tbody>
      <tr>
        <td class="vision_title" colspan="3">
          <p>Test 1</p>
        </td>
      </tr>
      
      <tr>
        <td class="td_three">
          <p>Left Eye</p>
          <p>
            20 / 
            <%= f.text_field :vision_acuity_left_1, :class => "number_field" %>
             result
          </p>
        </td>
        </tr>

      
    </tbody>
  </table>

  <% if @child_id.nil?%>
    <%= f.hidden_field :child_id, value: params[:child_id]%>
  <% else %>
    <%= f.hidden_field :child_id, value: @child_id%>
  <% end %>
  
  <div  class: "btn btn-large btn-primary">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Back', @child %> |
<%= link_to 'Directory', children_path %>