<h1><%= @child.last_name %>, <%= @child.first_name %></h1>
<h3>Edit Physical II</h3>

<%= form_for(@child, html: {class:"form-horizontal"}) do |f| %>
  
  <% if @child.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@child.errors.count, "error") %> prohibited this child from being saved:</h2>
      <ul>
        <% @child.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table class="table table-bordered">
    <tbody>

      <tr>
        <td class="physical_title" colspan="4">
          Lymph (Pre/post, auricular, cervical, Patency, external, Turbinates, canal, TM, etc)
        </td>
      </tr>
      <tr>
        <td class="physical_td_radial_label">
          WNL
        </td>
        <td  class="physical_td_radial_label">
          AB
        </td>
        <td class="physical_td_radial_label">
          Not Evaluated
        </td>
        <td class="physical_td_radial_label">
          Unable To Cooperate
        </td>
      </tr>
      <tr>
        <td class="physical_td_radial">
          <%= f.radio_button(:lymph_all_normal, "WNL") %>
        </td>
        <td class="physical_td_radial">
          <%= f.radio_button(:lymph_all_normal, "Abnormal") %>
        </td>
        <td class="physical_td_radial">
          <%= f.radio_button(:lymph_all_normal, "Not Evaluated") %>
        </td>
        <td class="physical_td_radial">
          <%= f.radio_button(:lymph_all_normal, "Unable to cooperate") %>
        </td>
      </tr>

      <tr>
        <td class="physical_title" colspan="4">
          Lymph Pre-Auricular
        </td>
      </tr>
      <tr>
        <td class="physical_td_radial_label">
          WNL
        </td>
        <td  class="physical_td_radial_label">
          AB
        </td>
        <td class="physical_td_radial_label">
          Not Evaluated
        </td>
        <td class="physical_td_radial_label">
          Unable To Cooperate
        </td>
      </tr>
      <tr>
        <td class="physical_td_radial">
          <%= f.radio_button(:lymph_pre_auricular, "WNL") %>
        </td>
        <td class="physical_td_radial">
          <%= f.radio_button(:lymph_pre_auricular, "Abnormal") %>
        </td>
        <td class="physical_td_radial">
          <%= f.radio_button(:lymph_pre_auricular, "Not Evaluated") %>
        </td>
        <td class="physical_td_radial">
          <%= f.radio_button(:lymph_pre_auricular, "Unable to cooperate") %>
        </td>
      </tr>

      <tr>
        <td class="physical_title" colspan="4">
          Lymph Post-Auricular
        </td>
      </tr>
      <tr>
        <td class="physical_td_radial_label">
          WNL
        </td>
        <td  class="physical_td_radial_label">
          AB
        </td>
        <td class="physical_td_radial_label">
          Not Evaluated
        </td>
        <td class="physical_td_radial_label">
          Unable To Cooperate
        </td>
      </tr>
      <tr>
        <td class="physical_td_radial">
          <%= f.radio_button(:lymph_post_auricular, "WNL") %>
        </td>
        <td class="physical_td_radial">
          <%= f.radio_button(:lymph_post_auricular, "Abnormal") %>
        </td>
        <td class="physical_td_radial">
          <%= f.radio_button(:lymph_post_auricular, "Not Evaluated") %>
        </td>
        <td class="physical_td_radial">
          <%= f.radio_button(:lymph_post_auricular, "Unable to cooperate") %>
        </td>
      </tr>

      <tr>
        <td class="physical_title" colspan="4">
          Lymph Anterior Cervical
        </td>
      </tr>
      <tr>
        <td class="physical_td_radial_label">
          WNL
        </td>
        <td  class="physical_td_radial_label">
          AB
        </td>
        <td class="physical_td_radial_label">
          Not Evaluated
        </td>
        <td class="physical_td_radial_label">
          Unable To Cooperate
        </td>
      </tr>
      <tr>
        <td class="physical_td_radial">
          <%= f.radio_button(:lymph_anterior_cervical, "WNL") %>
        </td>
        <td class="physical_td_radial">
          <%= f.radio_button(:lymph_anterior_cervical, "Abnormal") %>
        </td>
        <td class="physical_td_radial">
          <%= f.radio_button(:lymph_anterior_cervical, "Not Evaluated") %>
        </td>
        <td class="physical_td_radial">
          <%= f.radio_button(:lymph_anterior_cervical, "Unable to cooperate") %>
        </td>
      </tr>

      <tr>
        <td class="physical_title" colspan="4">
          Lymph Posterior Cervical
        </td>
      </tr>
      <tr>
        <td class="physical_td_radial_label">
          WNL
        </td>
        <td  class="physical_td_radial_label">
          AB
        </td>
        <td class="physical_td_radial_label">
          Not Evaluated
        </td>
        <td class="physical_td_radial_label">
          Unable To Cooperate
        </td>
      </tr>
      <tr>
        <td class="physical_td_radial">
          <%= f.radio_button(:lymph_posterior_cervical, "WNL") %>
        </td>
        <td class="physical_td_radial">
          <%= f.radio_button(:lymph_posterior_cervical, "Abnormal") %>
        </td>
        <td class="physical_td_radial">
          <%= f.radio_button(:lymph_posterior_cervical, "Not Evaluated") %>
        </td>
        <td class="physical_td_radial">
          <%= f.radio_button(:lymph_posterior_cervical, "Unable to cooperate") %>
        </td>
      </tr>
      
      <tr>
        <td class="physical_title" colspan="4">
          Lymph Occipital
        </td>
      </tr>
      <tr>
        <td class="physical_td_radial_label">
          WNL
        </td>
        <td  class="physical_td_radial_label">
          AB
        </td>
        <td class="physical_td_radial_label">
          Not Evaluated
        </td>
        <td class="physical_td_radial_label">
          Unable To Cooperate
        </td>
      </tr>
      <tr>
        <td class="physical_td_radial">
          <%= f.radio_button(:lymph_occipital, "WNL") %>
        </td>
        <td class="physical_td_radial">
          <%= f.radio_button(:lymph_occipital, "Abnormal") %>
        </td>
        <td class="physical_td_radial">
          <%= f.radio_button(:lymph_occipital, "Not Evaluated") %>
        </td>
        <td class="physical_td_radial">
          <%= f.radio_button(:lymph_occipital, "Unable to cooperate") %>
        </td>
      </tr>

      <tr>
        <td class="physical_title" colspan="4">
          Lymph Axillary
        </td>
      </tr>
      <tr>
        <td class="physical_td_radial_label">
          WNL
        </td>
        <td  class="physical_td_radial_label">
          AB
        </td>
        <td class="physical_td_radial_label">
          Not Evaluated
        </td>
        <td class="physical_td_radial_label">
          Unable To Cooperate
        </td>
      </tr>
      <tr>
        <td class="physical_td_radial">
          <%= f.radio_button(:lymph_axillary, "WNL") %>
        </td>
        <td class="physical_td_radial">
          <%= f.radio_button(:lymph_axillary, "Abnormal") %>
        </td>
        <td class="physical_td_radial">
          <%= f.radio_button(:lymph_axillary, "Not Evaluated") %>
        </td>
        <td class="physical_td_radial">
          <%= f.radio_button(:lymph_axillary, "Unable to cooperate") %>
        </td>
      </tr>

      <tr>
        <td colspan="4">
          <%= f.label :lymph_c, "Comments: " %>
          <%= f.text_field :lymph_c, :class => "physical_comment_field" %>
        </td>
      </tr>

      <tr>
        <td class="physical_title" colspan="4">
          Vascular (Pulses, color, warmth, cap refill, etc)
        </td>
      </tr>
      <tr>
        <td class="physical_td_radial_label">
          WNL
        </td>
        <td  class="physical_td_radial_label">
          AB
        </td>
        <td class="physical_td_radial_label">
          Not Evaluated
        </td>
        <td class="physical_td_radial_label">
          Unable To Cooperate
        </td>
      </tr>
      <tr>
        <td class="physical_td_radial">
          <%= f.radio_button(:vascular, "WNL") %>
        </td>
        <td class="physical_td_radial">
          <%= f.radio_button(:vascular, "Abnormal") %>
        </td>
        <td class="physical_td_radial">
          <%= f.radio_button(:vascular, "Not Evaluated") %>
        </td>
        <td class="physical_td_radial">
          <%= f.radio_button(:vascular, "Unable to cooperate") %>
        </td>
      </tr>
      <tr>
        <td colspan="4">
          <%= f.label :vascular_c, "Comments: " %>
          <%= f.text_field :vascular_c, :class => "physical_comment_field" %>
        </td>
      </tr>

      <tr>
        <td class="physical_title" colspan="4">
          Heart (Rate, rythm, murmur, etc)
        </td>
      </tr>
      <tr>
        <td class="physical_td_radial_label">
          WNL
        </td>
        <td  class="physical_td_radial_label">
          AB
        </td>
        <td class="physical_td_radial_label">
          Not Evaluated
        </td>
        <td class="physical_td_radial_label">
          Unable To Cooperate
        </td>
      </tr>
      <tr>
        <td class="physical_td_radial">
          <%= f.radio_button(:heart, "WNL") %>
        </td>
        <td class="physical_td_radial">
          <%= f.radio_button(:heart, "Abnormal") %>
        </td>
        <td class="physical_td_radial">
          <%= f.radio_button(:heart, "Not Evaluated") %>
        </td>
        <td class="physical_td_radial">
          <%= f.radio_button(:heart, "Unable to cooperate") %>
        </td>
      </tr>
      <tr>
        <td colspan="4">
          <%= f.label :heart_c, "Comments: " %>
          <%= f.text_field :heart_c, :class => "physical_comment_field" %>
        </td>
      </tr>

      <tr>
        <td class="physical_title" colspan="4">
          Lungs (CTA. breath sounds, WOB, etc)
        </td>
      </tr>
      <tr>
        <td class="physical_td_radial_label">
          WNL
        </td>
        <td  class="physical_td_radial_label">
          AB
        </td>
        <td class="physical_td_radial_label">
          Not Evaluated
        </td>
        <td class="physical_td_radial_label">
          Unable To Cooperate
        </td>
      </tr>
      <tr>
        <td class="physical_td_radial">
          <%= f.radio_button(:lungs, "WNL") %>
        </td>
        <td class="physical_td_radial">
          <%= f.radio_button(:lungs, "Abnormal") %>
        </td>
        <td class="physical_td_radial">
          <%= f.radio_button(:lungs, "Not Evaluated") %>
        </td>
        <td class="physical_td_radial">
          <%= f.radio_button(:lungs, "Unable to cooperate") %>
        </td>
      </tr>
      <tr>
        <td colspan="4">
          <%= f.label :lungs_c, "Comments: " %>
          <%= f.text_field :lungs_c, :class => "physical_comment_field" %>
        </td>
      </tr>

      <tr>
        <td class="physical_title" colspan="4">
          Abdomen (BS, organomegaly, etc)
        </td>
      </tr>
      <tr>
        <td class="physical_td_radial_label">
          WNL
        </td>
        <td  class="physical_td_radial_label">
          AB
        </td>
        <td class="physical_td_radial_label">
          Not Evaluated
        </td>
        <td class="physical_td_radial_label">
          Unable To Cooperate
        </td>
      </tr>
      <tr>
        <td class="physical_td_radial">
          <%= f.radio_button(:abdomen, "WNL") %>
        </td>
        <td class="physical_td_radial">
          <%= f.radio_button(:abdomen, "Abnormal") %>
        </td>
        <td class="physical_td_radial">
          <%= f.radio_button(:abdomen, "Not Evaluated") %>
        </td>
        <td class="physical_td_radial">
          <%= f.radio_button(:abdomen, "Unable to cooperate") %>
        </td>
      </tr>
      <tr>
        <td colspan="4">
          <%= f.label :abdomen_c, "Comments: " %>
          <%= f.text_field :abdomen_c, :class => "physical_comment_field" %>
        </td>
      </tr>

      <tr>
        <td class="physical_title" colspan="4">
          Musculoskeletal (ROM, duck walk, strength, symmetry, knees, shoulders, neck, etc)
        </td>
      </tr>
      <tr>
        <td class="physical_td_radial_label">
          WNL
        </td>
        <td  class="physical_td_radial_label">
          AB
        </td>
        <td class="physical_td_radial_label">
          Not Evaluated
        </td>
        <td class="physical_td_radial_label">
          Unable To Cooperate
        </td>
      </tr>
      <tr>
        <td class="physical_td_radial">
          <%= f.radio_button(:musculoskeletal, "WNL") %>
        </td>
        <td class="physical_td_radial">
          <%= f.radio_button(:musculoskeletal, "Abnormal") %>
        </td>
        <td class="physical_td_radial">
          <%= f.radio_button(:musculoskeletal, "Not Evaluated") %>
        </td>
        <td class="physical_td_radial">
          <%= f.radio_button(:musculoskeletal, "Unable to cooperate") %>
        </td>
      </tr>
      <tr>
        <td colspan="4">
          <%= f.label :musculoskeletal_c, "Comments: " %>
          <%= f.text_field :musculoskeletal_c, :class => "physical_comment_field" %>
        </td>
      </tr>

      <tr>
        <td class="physical_title" colspan="4">
          Scoliosis (Only greater than 9)
        </td>
      </tr>
      <tr>
        <td class="physical_td_radial_label">
          WNL
        </td>
        <td  class="physical_td_radial_label">
          AB
        </td>
        <td class="physical_td_radial_label">
          Not Evaluated
        </td>
        <td class="physical_td_radial_label">
          Unable To Cooperate
        </td>
      </tr>
      <tr>
        <td class="physical_td_radial">
          <%= f.radio_button(:scoliosis, "WNL") %>
        </td>
        <td class="physical_td_radial">
          <%= f.radio_button(:scoliosis, "Abnormal") %>
        </td>
        <td class="physical_td_radial">
          <%= f.radio_button(:scoliosis, "Not Evaluated") %>
        </td>
        <td class="physical_td_radial">
          <%= f.radio_button(:scoliosis, "Unable to cooperate") %>
        </td>
      </tr>
      <tr>
        <td colspan="4">
          <%= f.label :scoliosis_c, "Comments: " %>
          <%= f.text_field :scoliosis_c, :class => "physical_comment_field" %>
        </td>
      </tr>

      <tr>
        <td class="physical_title" colspan="4">
          Neuro (Cranial nerves II, CNII-XII intact, balance, heel-toe walk, reflexes, etc)
        </td>
      </tr>
      <tr>
        <td class="physical_td_radial_label">
          WNL
        </td>
        <td  class="physical_td_radial_label">
          AB
        </td>
        <td class="physical_td_radial_label">
          Not Evaluated
        </td>
        <td class="physical_td_radial_label">
          Unable To Cooperate
        </td>
      </tr>
      <tr>
        <td class="physical_td_radial">
          <%= f.radio_button(:neuro, "WNL") %>
        </td>
        <td class="physical_td_radial">
          <%= f.radio_button(:neuro, "Abnormal") %>
        </td>
        <td class="physical_td_radial">
          <%= f.radio_button(:neuro, "Not Evaluated") %>
        </td>
        <td class="physical_td_radial">
          <%= f.radio_button(:neuro, "Unable to cooperate") %>
        </td>
      </tr>
      <tr>
        <td colspan="4">
          <%= f.label :neuro_c, "Comments: " %>
          <%= f.text_field :neuro_c, :class => "physical_comment_field" %>     
        </td>
      </tr>

    </tbody>
  </table>

  <% if @child_id.nil?%>
    <%= f.hidden_field :child_id, value: params[:child_id]%>
  <% else %>
    <%= f.hidden_field :child_id, value: @child_id%>
  <% end %>
  
  <div  class: "btn btn-large btn-primary">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Back', @child %> |
<%= link_to 'Directory', children_path %>