<h1><%= @child.last_name %>, <%= @child.first_name %></h1>
<h3>Hearing Screening</h3>

<table class="table table-bordered">
	<tbody>
  	<tr>
    	<%= render 'layouts/menu' %>
    </tr>
  </tbody>
</table>
<table class="table table-bordered">
 	<thead>
		<tr>
			<td>
				<%= link_to 'Update Hearing', edithearing_path(@child), class: "btn btn-success" %>
			</td>
		</tr>
	</thead>
	<tbody>
    <% if !@child.hearing_db_left_1.blank? %>
    <tr>
      <td class="hearing_title" colspan="4">
        <p>Test 1 </p>
      </td>
    </tr>
    
    <tr>
      <td class="td_hearing_ear" colspan="">
        <p>Left Ear</p>
      </td>
      <td>
        <p>
          <%= @child.hearing_db_left_1 %>db@ 500 - 5000 hz
          <%= @child.ear_left_pass_1 %>
        </p>
      </td>
      <td class="td_hearing_ear" colspan="">
        <p>Right Ear</p>
      </td>
      <td>
        <p>
          <%= @child.hearing_db_right_1 %>db@ 500 - 5000 hz
          <%= @child.ear_right_pass_1 %>
        </p>
      </td>
    </tr>
    <% end %>
    
    <% if !@child.hearing_db_left_2.blank? %>
    <tr>
      <td class="hearing_title" colspan="4">
        <p>Test 2</p>
      </td>
    </tr>
    
    <tr>
      <td class="td_hearing_ear">
        <p>Left Ear</p>
      </td>
      <td>
        <p>
          <%= @child.hearing_db_left_2 %>db@ 500 - 5000 hz
          <%= @child.ear_left_pass_2 %>
        </p>
      </td>
      <td class="td_hearing_ear" colspan="">
        <p>Right Ear</p>
      </td>
      <td>
        <p>
          <%= @child.hearing_db_right_2 %>db@ 500 - 5000 hz
          <%= @child.ear_right_pass_2 %>
        </p>
      </td>
    </tr>
    <% end %>

    <% if !@child.hearing_db_left_3.blank? %>
    <tr>
      <td class="hearing_title" colspan="4">
        <p>Test 3</p>
      </td>
    </tr>
    
    <tr>
      <td class="td_hearing_ear" colspan="">
        <p>Left Ear</p>
      </td>
      <td>
        <p>
          <%= @child.hearing_db_left_3 %>db@ 500 - 5000 hz
          <%= @child.ear_left_pass_3 %>
        </p>
      </td>
      <td class="td_hearing_ear" colspan="">
        <p>Right Ear</p>
      </td>
      <td>
        <p>
          <%= @child.hearing_db_right_3 %>db@ 500 - 5000 hz
          <%= @child.ear_right_pass_3 %>
        </p>
      </td>
    </tr>
    <% end %>
    
    <% if !@child.hearing_comments.blank? %>
    <tr>
      <td colspan="4">
        <strong>Hearing Comments: </strong>
        <%= @child.hearing_comments %>
      </td>
    </tr>
    <% end %>
    
  </tbody>
</table>

<%= link_to 'Edit', edithearing_path(@child) %> |
<%= link_to 'Directory', children_path %>