<h1>Patient Child Directory</h1>
<%= link_to 'Create Record for New Child', new_child_path %>
<br>
<br>
<%= form_tag children_path, class: "form-group", :method => 'get' do %>
  <div class="row" >
    <div class="col-xs-10" id = "search">
      <%= text_field_tag :search, params[:search],placeholder:"Search for a child",class: "form-control" %> 
    </div>
    <div class="col-xs-2" id = "search">
      <%= submit_tag "Search", :name => nil , class: "btn btn-small"%>
	  </div>
  </div>
<% end %> 

<table class="table table-bordered">
  <thead class="directory">
    <tr>
      <td style="width: 110px">Last Name</td>
      <td style="width: 110px">First Name</td>
      <td colspan="2"></td>
    </tr>
  </thead>

  <tbody>
    <% @result.each do |child| %>
      <tr>
        <td><%= child.last_name %></td>
        <td><%= child.first_name %></td>
        <td><%= link_to 'Show', child , class: "btn btn-default btn-lg"%>
        <td><%= link_to 'Delete', child, class: "btn btn-default btn-lg",method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>




