<h1>Child Directory</h1>
 <%= form_tag children_path, class: "form-group", :method => 'get' do %>
   <div class="row">
    <div class="col-xs-10">
    <%= text_field_tag :search, params[:search],placeholder:"Search for a child",class: "form-control" %> 
    </div>
    <div class="col-xs-2">
    <%= submit_tag "Search", :name => nil , class: "btn btn-small"%>
	</div>
   </div>
<% end %> 

<table>
  <thead>
    <tr>
      <td>Name</td>
      <td>School</td>
      <td>DOB</td>
      <td>Gender</td>
    </tr>
  </thead>

  <tbody>
    <% @result.each do |child| %>
      <tr>
        <td><%= child.name %></td>
        <td><%= child.school %></td>
        <td><%= child.DOB %></td>
        <td><%= child.gender %></td>
        <td><%= link_to 'Show', child , class: "btn btn-default btn-lg"%>
        <td><%= link_to 'Edit', edit_child_path(child), class: "btn btn-default btn-lg" %>
        <td><%= link_to 'Delete', child, class: "btn btn-default btn-lg",method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% if child.health_record.empty? %>
          
         
        <td><%= link_to 'Health-Form', new_health_record_path(:child_id => child.id), class: "btn btn-success" %></td>
         <% else %>
           <% last_record = child.health_record.last %>

	 <td><%= link_to 'Health-Form', edit_health_record_path(last_record), class: "btn btn-success" %></td><% end %>
 

      <% if child.physical_exam.empty? %>        
      <td><%= link_to 'Physical-Form', new_physical_exam_path(:child_id => child.id), class: "btn btn-success" %></td>
         <% else %>
           <% last_record = child.physical_exam.last %>
	     <td><%= link_to 'Physical-Form', edit_physical_exam_path(last_record), class: "btn btn-success" %></td><% end %>

    <% if child.finding.empty? %>
          
         
        <td><%= link_to 'Summary-Form', new_finding_path(:child_id => child.id), class: "btn btn-success" %></td>
         <% else %>
           <% last_record = child.finding.last %>

   <td><%= link_to 'Summary-Form', edit_finding_path(last_record), class: "btn btn-success" %></td><% end %>      

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Create Record for New Child', new_child_path %>
