<h1><%= @child.last_name %>, <%= @child.first_name %></h1>

<table class="table table-bordered">
	<tbody>
  	<tr>
    	<%= render 'layouts/menu' %>
    </tr>
  </tbody>
</table>
<table class="table table-bordered">
 	<thead>
    <tr>
      <td>
        <%= link_to 'Update', editphysicali_path(@child), class: "btn btn-success" %>
      </td>
    </tr>
  </thead>
  <body>

		<tr>
      <td class="physical_title" colspan="">
        General Appearance (Well nourished, hygienge, appears ill, etc): 
      </td>
      <td>
        <%= @child.general_appearance %>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        Comments: 
        <%= @child.general_appearance_c %>     
      </td>
    </tr>

    <tr>
      <td class="physical_title" colspan="">
        Head/Hair (Include, 3.1 fontanelle if less than 18 months): 
      </td>
      <td>
        <%= @child.head %>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        Comments: 
        <%= @child.head_c %>     
      </td>
    </tr>

    <tr>
      <td class="physical_title" colspan="">
        Skin (Rashes, etc): 
      </td>
      <td>
        <%= @child.skin %>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        Comments:
        @child.skin_c
      </td>
    </tr>

    <tr>
      <td class="physical_title" colspan="">
        Eyes (External, PERR LA, RED reflex, lids, EOM's, cover test, etc): 
      </td>
      <td>
        <%= @child.eyes %>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        Comments: 
        <% @child.eyes_c %>
      </td>
    </tr>

    <tr>
      <td class="physical_title" colspan="">
        Ears (External, canal, TM, etc):
      </td>
      <td>
        <%= @child.ears %>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        Comments: 
        <%= @child.ears_c %>
      </td>
    </tr>

    <tr>
      <td class="physical_title" colspan="">
        Nose (Patency, external, turbinates d/L, etc): 
      </td>
      <td>
        <%= @child.nose %>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        Comments: 
        <%= @child.nose_c %>
      </td>
    </tr>

    <tr>
      <td class="physical_title" colspan="">
        Mouth (Teeth, gums, presence of crowns, caries, pallate, etc): 
      </td>
      <td>
        <%= @child.mouth %>
      </td>
    </tr>
    </tr>
    <tr>
      <td colspan="2">
        Comments: 
        <%= @child.mouth_c %>
      </td>
    </tr>

    <tr>
      <td class="physical_title" colspan="">
        Throat (Uvula, tonsil, pharynx, exudate, voice, etc)
      </td>
      <td>
        <%= @child.throat %>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        Comments: 
        <%= @child.throat_c %>
      </td>
    </tr>

    <tr>
      <td class="physical_title" colspan="">
        Thyroid (Anterior, posterior, etc): 
      </td>
      <td>
        <%= @child.thyroid %>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        Comments: 
        <%= @child.thyroid_c %>
      </td>
    </tr>
    
  </tbody>
</table>

<%= link_to 'Edit', edit_child_path(@child) %> |
<%= link_to 'Directory', children_path %>