<h1><%= @child.last_name %>, <%= @child.first_name %></h1>

<table class="table table-bordered">
	<tbody>
  	<%= render 'layouts/menu' %>
  </tbody>
</table>
<table class="table table-bordered">
 	<thead>
		<tr>
			<td>
				<%= link_to 'Update Demographics', editchild_path(@child), class: "btn btn-success" %>
			</td>
		</tr>
	</thead>
	<tbody>

    <% if !@child.gender.blank? %>
		<tr>
      <td class="show_child_td" colspan="">
        <strong>Gender: </strong>
      </td>
      <td>
        <%= @child.gender %>
      </td>
    </tr>
    <% end %>

    <% if !@child.dob.blank? %>
    <tr>
      <td class="show_child_td" colspan="">
        <strong> DOB: </strong>
      </td>
      <td>
        <%= @child.dob %>
      </td>
    </tr>
    <% end %>

    <% if !@child.age_years.blank? %>
    <tr>
      <td class="show_child_td" colspan="">
        <strong> Age: </strong>
      </td>
      <td>
        <%= @child.age_years %> <strong> years and </strong> <%= @child.age_months %> <strong> months </strong>
      </td>
    </tr>
    <% end %>

    <% if !@child.age_total_months.blank? && (@child.age_total_months < 24) %>
    <tr>
      <td class="show_child_td" colspan="">
        <strong> Total Months: </strong>
      </td>
      <td>
        <%= @child.age_total_months %> months
      </td>
    </tr>
    <% end %>

    <% if !@child.location.blank? %>
    <tr>
      <td class="show_child_td" colspan="">
        <strong> Site Location: </strong>
      </td>
      <td>
        <%= @child.location %>
      </td>
    </tr>
    <% end %>

    <% if !@child.no_parent_present.blank? %>
    <tr>
      <td class="show_child_td" colspan="">
        <strong> No Parent Present: </strong>
      </td>
      <td>
        <%= check_box_tag "", 1 , @child.no_parent_present ? true : false, :disabled => true %>
      </td>
    </tr>
    <% end %>

    <% if !@child.parental_permission_given.blank? %>
    <tr>
      <td class="show_child_td" colspan="">
        <strong> Parental Permission Given: </strong>
      </td>
      <td>
        <%= check_box_tag "", 1 , @child.parental_permission_given ? true : false, :disabled => true %>
      </td>
    </tr>
    <% end %>

    <% if !@child.allergies.blank? %>
    <tr>
      <td class="show_child_td" colspan="">
        <strong> Allergies: </strong>
      </td>
      <td>
        <%= @child.allergies %>
      </td>
    </tr>
    <% end %>

    <% if !@child.allergies_information.blank? %>
    <tr>
      <td class="show_child_td" colspan="">
        <strong> Allergies Reaction Type: </strong>
      </td>
      <td>
        <%= @child.allergies_information %>
      </td>
    </tr>
    <% end %>
    
    <% if !@child.immunization_utd.blank? || !@child.dtap.blank? || !@child.hib.blank? || !@child.pneumovax.blank? || !@child.hepa.blank? || !@child.hepb.blank?  || !@child.influenza.blank? || !@child.dtap.blank?  || !@child.mmr.blank? || !@child.immunization_needed.blank? %>
    <tr>
      <td colspan="2">
        Immunization History
      </td>
    </tr>
    <% end %>

    <% if !@child.immunization_utd.blank? %>
    <tr>
      <td class="show_child_td" colspan="">
        <strong> Immunizations UTD: </strong>
      </td>
      <td>
        <%= check_box_tag "", 1 , @child.immunization_utd ? true : false, :disabled => true %>
      </td>
    </tr>
    <% end %>

    <% if !@child.dtap.blank? %>
    <tr>
      <td class="show_child_td" colspan="">
        <strong> DTaP: </strong>
      </td>
      <td>
        <%= check_box_tag "", 1 , @child.dtap ? true : false, :disabled => true %>
      </td>
    </tr>
    <% end %>

    <% if !@child.hib.blank? %>
    <tr>
      <td class="show_child_td" colspan="">
        <strong> Hib: </strong>
      </td>
      <td>
        <%= check_box_tag "", 1 , @child.hib ? true : false, :disabled => true %>
      </td>
    </tr>
    <% end %>

    <% if !@child.pneumovax.blank? %>
    <tr>
      <td class="show_child_td" colspan="">
        <strong> Pneumovax: </strong>
      </td>
      <td>
        <%= check_box_tag "", 1 , @child.pneumovax ? true : false, :disabled => true %>
      </td>
    </tr>
    <% end %>

    <% if !@child.hepa.blank? %>
    <tr>
      <td class="show_child_td" colspan="">
        <strong> HepA: </strong>
      </td>
      <td>
        <%= check_box_tag "", 1 , @child.hepa ? true : false, :disabled => true %>
      </td>
    </tr>
    <% end %>

    <% if !@child.hepb.blank? %>
    <tr>
      <td class="show_child_td" colspan="">
        <strong> HepB: </strong>
      </td>
      <td>
        <%= check_box_tag "", 1 , @child.hepb ? true : false, :disabled => true %>
      </td>
    </tr>
    <% end %>

    <% if !@child.influenza.blank? %>
    <tr>
      <td class="show_child_td" colspan="">
        <strong> Influenza: </strong>
      </td>
      <td>
        <%= check_box_tag "", 1 , @child.influenza ? true : false, :disabled => true %>
      </td>
    </tr>
    <% end %>

    <% if !@child.mmr.blank? %>
    <tr>
      <td class="show_child_td" colspan="">
        <strong> MMR: </strong>
      </td>
      <td>
        <%= check_box_tag "", 1 , @child.mmr ? true : false, :disabled => true %>
      </td>
    </tr>
    <% end %>

    <% if !@child.immunization_needed.blank? %>
    <tr>
      <td class="show_child_td" colspan="">
        <strong> Additional Immunizations: </strong>
      </td>
      <td>
        <%= @child.immunization_needed %>
      </td>
    </tr>
    <% end %>

    <% if !@child.revelant_information.blank? %>
    <tr>
      <td class="show_child_td" colspan="">
        <strong> Relevant Information: </strong>
      </td>
      <td>
        <%= @child.revelant_information %>
      </td>
    </tr>
    <% end %>

    <% if !@child.absences.blank? %>
    <tr>
      <td class="show_child_td" colspan="">
        <strong> Absences: </strong>
      </td>
      <td>
        <%= @child.absences %>
      </td>
    </tr>
    <% end %>
    
	</tbody>
</table>

<%= link_to 'Edit', edit_child_path(@child) %> |
<%= link_to 'Directory', children_path %>