<h1><%= @child.last_name %>, <%= @child.first_name %></h1>

<table class="table table-bordered">
	<tbody>
  	<tr>
    	<%= render 'layouts/menu' %>
    </tr>
  </tbody>
</table>
<table class="table table-bordered">
 	<thead>
		<tr>
			<td>
				<%= link_to 'Update', editvitals_path(@child), class: "btn btn-success" %>
			</td>
		</tr>
	</thead>
	<tbody>
    <tr>
      <td class="show_child_td" colspan="">
        Height: 
      </td>
      <td colspan="3">
        <%= @child.height_feet %> ft 
        <%= @child.height_inches %> in; 
        <%= @child.height_total_inches %> in total; 
        <%= @child.height_total_cm %> cm total;
      </td>
    </tr>
    <tr>
      <td class="show_child_td" colspan="">
        Weight: 
      </td>
      <td colspan="3">
        <%= @child.weight_lbs %> lbs, 
        <%= @child.weight_oz %> oz; 
        <%= @child.weight_kg %> kg;
      </td>
    </tr>
    <tr>
      <td class="show_child_td" colspan="">
        BMI Result: 
      </td>
      <td colspan="3">
        <%= @child.bmi_result %>
         %, BMI Percentile: ...
      </td>
    </tr>
    <tr>
      <td class="show_child_td" colspan="4">
        Blood Pressure
      </td>
    </tr>
    <tr>
      <td class="show_child_td" colspan="">
        Test 1: 
      </td>
      <td colspan="3">
        <%= @child.systolic_1 %>
         Systolic / 
        <%= @child.diastolic_1 %>
        Diastolic mm Hg
      </td>
    </tr>
    <tr>
      <td class="show_child_td" colspan="">
        Test 2: 
      </td>
      <td colspan="3">
        <%= @child.systolic_2 %>
         Systolic / 
        <%= @child.diastolic_2 %>
        Diastolic mm Hg
      </td>
    </tr>
    <tr>
      <td class="show_child_td" colspan="">
        Test 3: 
      </td>
      <td colspan="3">
        <%= @child.systolic_3 %>
         Systolic / 
        <%= @child.diastolic_3 %>
        Diastolic mm Hg
      </td>
    </tr>
    <tr>
      <td class="show_child_td" colspan="">
        Hemoglobin: 
      </td>
      <td colspan="3">
        <%= @child.hemoglobin %>
        gm/dL
      </td>
    </tr>
    <tr>
      <td class="show_child_td" colspan="">
        Blood Glucose: 
      </td>
      <td>
        <%= @child.blood_glucose %>
        mg/dL
      </td>
    </tr>
  </tbody>
</table>

<%= link_to 'Edit', edit_child_path(@child) %> |
<%= link_to 'Directory', children_path %>