<h1>Password Recovery</h1>
<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <p>Please enter the initial of your first name followed by your last name</p>
    <p>User name: </p>
    <%= f.label :user_name%><br>
  </div>
  <br />
  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %><br>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %><br>
  </div>
<%= f.hidden_field :role, value: "new" %>
 <div  class: "btn btn-large btn-primary">
    <%= f.submit %>
  </div>
<% end %>
