  <%= form_for(@finding) do |f| %>
  
  <% if @finding.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@finding.errors.count, "error") %> prohibited this finding from being saved:</h2>

      <ul>
      <% @finding.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table class = "table table-bordered">
  	<tbody>
  		<tr>
		  <div class="field">
		    <td> <%= f.label :general_statement %></td>
		    <td><%= f.text_area :general_statement , :style => "width:98%;" %></td>
		  </div>	
		</tr>
		<tr>
		  <div class="field">
    		<td><%= f.label :signature %></td>
    		<td><%= f.text_field :signature %></td>
  		  </div>	
		</tr>
		<tr>
		  <div class="field">
    		<td><%= f.label "Date" %></td>
    		<td><%= f.date_select :sig_date %></td>
  		  </div>	
		</tr>
	</tbody>
  </table>
	
  	
  <div class="field">
   <table class = "table table-bordered">
       <thead>
         <tr>
            <th >
    	    	<h3 align = "center">Diagnostic</h3>
            </th>
    		<th >
    			<h3 align = "center">Treatment</h3>
    		</th>
         </tr>
       </thead>
        <tbody>
	    	<tr>	
	  			<td> <%= f.text_area :finding_a%> </td>
	  			<td> <%= f.text_area :treatment_a , :style => "width:98%;"  %> </td>
	    	</tr>
	    	<tr>
	    		<td> <%= f.text_area :finding_b %> </td>
	  			<td> <%= f.text_area :treatment_b  , :style => "width:98%;" %> </td>
	    	</tr>
	    	<tr>
	    		<td> <%= f.text_area :finding_c %> </td>
	  			<td> <%= f.text_area :treatment_c , :style => "width:98%;"  %> </td>
	    	</tr>
	    	<tr>	
	    		<td> <%= f.text_area :finding_d %> </td>
	  			<td> <%= f.text_area :treatment_d , :style => "width:98%;"  %> </td>
	        </tr>
	    	<tr>	
	    		<td> <%= f.label :faculty_signature %> </td>
	  			<td> <%= f.text_field :faculty_signature %></td>
	        </tr>
	    	<tr>	
	    		<td> <%= f.label "Date"%> </td>
	  			<td>    <%= f.date_select :faculty_sig_date %></td>
	        </tr>			
	    </tbody>
   </table>

  </div>


  <% if @finding.child_id.nil?%>
     <%= f.hidden_field :child_id, value: params[:child_id]%>
  <% else %>
     <%= f.hidden_field :child_id, value: @finding.child_id%>
  <% end %>
  
  <table>
  	<tbody>
  		<tr>
  			<td>
  				<div  >
    				<%= f.submit "Submit", class: "btn btn-large btn-primary" %>
  				</div>
  			</td>
  			<td>  				
  				<div>
  					<%= link_to 'Back', :back, class: "btn btn-large btn-default" %>
  				</div>
  			</td>
  				
  			</td>
  		</tr>
  	</tbody>  
  </table>

 <% end %>
