  <%= form_for(@finding) do |f| %>
  
  <% if @finding.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@finding.errors.count, "error") %> prohibited this finding from being saved:</h2>

      <ul>
      <% @finding.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<% puts "********" %>
	<% puts @finding.diagnosis_treatment.inspect %>
	
  <div class="field" >
    <%= f.label :general_statement %><br/>
    <%= f.text_area :general_statement %>
  </div>	
	
  <div class="field">
    <%= f.label :signature %><br>
    <%= f.text_field :signature %>
  </div>
  <div class="field">
    <%= f.label "Date" %><br>
    <%= f.date_select :sig_date %>
  </div>
  	
  <div class="field">
  		 <table>
  		 	<thead>
    <tr>
    <th align="center">
    	Diagnostic
    </th>
    <th align="center">Treatment</th>
    </tr>
    </thead>
        <tbody>
	    	<tr>	
	  			<td> <%= f.text_area :finding_a %> </td>
	  			<td> <%= f.text_area :treatment_a  %> </td>
	    	</tr>
	    	<tr>
	    		<td> <%= f.text_area :finding_b %> </td>
	  			<td> <%= f.text_area :treatment_b  %> </td>
	    	</tr>
	    	<tr>
	    		<td> <%= f.text_area :finding_c %> </td>
	  			<td> <%= f.text_area :treatment_c  %> </td>
	    	</tr>
	    	<tr>	
	    		<td> <%= f.text_area :finding_d %> </td>
	  			<td> <%= f.text_area :treatment_d  %> </td>
	        </tr>

	    </tbody>
   </table>

  </div>
  <div class="field">
    <%= f.label :faculty_signature %><br>
    <%= f.text_field :faculty_signature %>
  </div>
  <div class="field">
    <%= f.label "Date"%><br>
    <%= f.date_select :faculty_sig_date %>
  </div>

  <% if @finding.child_id.nil?%>
     <%= f.hidden_field :child_id, value: params[:child_id]%>
  <% else %>
     <%= f.hidden_field :child_id, value: @finding.child_id%>
  <% end %>  
  <div  class: "btn btn-large btn-primary">
    <%= f.submit "Submit" %>
  </div>

 <% end %>
