<%= form_for(@finding) do |f| %>
  <% if @finding.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@finding.errors.count, "error") %> prohibited this finding from being saved:</h2>

      <ul>
      <% @finding.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
  		 <table>
  		 	<thead>
    <%#= f.label :diagnosis_treatment %><br>
    <tr>
    <th align="center">
    	Diagnostic
    </th>
    <th align="center">Treatment</th>
    </tr>
    </thead>
 
        <tbody>
        	<%= fields_for :diagnosis_treatment, @finding.diagnosis_treatment do |diagnosis_treatment_fields| %>
	    	<tr>	
	  			<td><%= diagnosis_treatment_fields.text_area :diagnosis_treatment[0][0] %></td>
	  			<td> <%= diagnosis_treatment_fields.text_area :diagnosis_treatment[0][1] %></td>
	    	</tr>
	    	<tr>
	    		<td><%= diagnosis_treatment_fields.text_area :diagnosis_treatment[1][0] %></td>
	    		<td><%= diagnosis_treatment_fields.text_area :diagnosis_treatment[1][1] %></td>
	    	</tr>
	    	<tr>
	    		<td><%= diagnosis_treatment_fields.text_area :diagnosis_treatment[2][0] %></td>
	    		<td><%= diagnosis_treatment_fields.text_area :diagnosis_treatment[2][1] %></td>
	    	</tr>
	    	<tr>	
	    		<td><%= diagnosis_treatment_fields.text_area :diagnosis_treatment[3][0] %></td>
	    		<td><%= diagnosis_treatment_fields.text_area :diagnosis_treatment[3][1] %></td>
	        </tr>
	    </tbody>
   </table>
  <% end %>
  </div>
  <div class="field">
    <%= f.label :faculty_signature %><br>
    <%= f.text_field :faculty_signature %>
  </div>
  <div class="field">
    <%= f.label :faculty_sig_date %><br>
    <%= f.date_select :faculty_sig_date %>
  </div>
  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>
