<p id="notice"><%= notice %></p>

<p>
	<table cellspacing="10">		
  		<thead>
		  	<tr>
  				<th> Diagnosis </th>
  				<th> Treatment </th>  
  			</tr>
  		</thead> 
  	</table>
  <%= @finding.diagnosis_treatment %>
</p>

<p>
  <strong>Faculty signature:</strong>
  <%= @finding.faculty_signature %>
</p>

<p>
  <strong>Date:</strong>
  <%= @finding.faculty_sig_date %>
</p>

<%= link_to 'Edit', edit_finding_path(@finding) %> |
<%= link_to 'Back', findings_path %>
