<%= form_for(@health_record) do |f| %>
	<tr>
    <td class="roster_td" colspan="3">
      <p>Hearing Screen</p>
    </td>
  </tr>
  <tr>
    <td class="roster_td" colspan="3">
      <p>Test 1</p>
    </td>
  </tr>
  
  <tr>
    <td class="td_two">
      <p>Left Ear</p>
    </td>
    <td>
      <p>
        <%= f.text_field :hearing_hz_left_1, :class => "ten_number_field" %>hz, 
        <%= f.text_field :hearing_db_left_1, :class => "ten_number_field" %>db, 
        <%= f.text_field :ear_left_pass_1 %> pass/fail. 
      </p>
    </td>
    <td class="td_two" colspan="">
      <p>Right Ear</p>
    </td>
    <td>
      <p>
        <%= f.text_field :hearing_hz_right_1, :class => "ten_number_field" %>hz, 
        <%= f.text_field :hearing_db_right_1, :class => "ten_number_field" %>db, 
        <%= f.text_field :ear_right_pass_1 %> pass/fail.
      </p>
    </td>
  </tr>
  
  <tr>
    <td colspan="3">
      <p>Test 2</p>
    </td>
  </tr>
  
  <tr>
    <td class="td_two">
      <p>Left Ear</p>
    </td>
    <td>
      <p>
        <%= f.text_field :hearing_hz_left_2, :class => "ten_number_field" %>hz, 
        <%= f.text_field :hearing_db_left_2, :class => "ten_number_field" %>db, 
        <%= f.text_field :ear_left_pass_2 %> pass/fail. 
      </p>
    </td>
    <td class="td_two" colspan="">
      <p>Right Ear</p>
    </td>
    <td>
      <p>
        <%= f.text_field :hearing_hz_right_2, :class => "ten_number_field" %>hz, 
        <%= f.text_field :hearing_db_right_2, :class => "ten_number_field" %>db, 
        <%= f.text_field :ear_right_pass_2 %> pass/fail.
      </p>
    </td>
  </tr>

  <tr>
    <td colspan="3">
      <p>Test 3</p>
    </td>
  </tr>
  
  <tr>
    <td class="td_two">
      <p>Left Ear</p>
    </td>
    <td>
      <p>
        <%= f.text_field :hearing_hz_left_3, :class => "ten_number_field" %>hz, 
        <%= f.text_field :hearing_db_left_3, :class => "ten_number_field" %>db, 
        <%= f.text_field :ear_left_pass_3 %> pass/fail. 
      </p>
    </td>
    <td class="td_two" colspan="">
      <p>Right Ear</p>
    </td>
    <td>
      <p>
        <%= f.text_field :hearing_hz_right_3, :class => "ten_number_field" %>hz, 
        <%= f.text_field :hearing_db_right_3, :class => "ten_number_field" %>db, 
        <%= f.text_field :ear_right_pass_3 %> pass/fail.
      </p>
    </td>
  </tr>
  
  <tr>
    <td colspan="3">
      <%= f.label :hearing_comments %>
      <%= f.text_field :hearing_comments %>
    </td>
  </tr>
<% end %>