<%= form_for(@health_record) do |f| %>
	<tr>
    <td>
      <%= f.label :hearing_test %>
      <%= f.text_field :hearing_test %>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.label :hearing_result_right %>
      <%= f.text_field :hearing_result_right %>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.label :hearing_result_left %>
      <%= f.text_field :hearing_result_left %>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.label :hearing_rescreening %>
      <%= f.text_field :hearing_rescreening %>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.label :hearing_comments %>
      <%= f.text_field :hearing_comments %>
    </td>
  </tr>
<% end %>