<h1>Child Information Record</h1>


<%= form_for(@health_record) do |f| %>

  <div class="field">
    <%= f.label :relevant_information %>
    <%= f.text_area :relevant_information, :cols => "10", :rows => "5" %><br>
  </div>
  <div class="field">
    <%= f.label :age %>
    <%= f.text_field :age %><br>
  </div>
  <div class="field">
    <%= f.label :height %>
    <%= f.text_field :height %><br>
  </div>
  <div class="field">
    <%= f.label :weight %>
    <%= f.text_field :weight %><br>
  </div>
  <div class="field">
    <%= f.label :blood_pressure %>
    <%= f.text_field :blood_pressure %><br>
  </div>
  <div class="field">
    <%= f.label :hemoglobin %>
    <%= f.text_field :hemoglobin %><br>
  </div>
  <div class="field">
    <%= f.label :hearing_test %>
    <%= f.text_field :hearing_test %><br>
  </div>
  <div class="field">
    <%= f.label :hearing_result_right %>
    <%= f.text_field :hearing_result_right %><br>
  </div>
  <div class="field">
    <%= f.label :hearing_result_left %>
    <%= f.text_field :hearing_result_left %><br>
  </div>
  <div class="field">
    <%= f.label :hearing_rescreening %>
    <%= f.text_field :hearing_rescreening %><br>
  </div>
  <div class="field">
    <%= f.label :hearing_comments %>
    <%= f.text_field :hearing_comments %><br>
  </div>
  <div class="field">
    <%= f.label :vision_test %>
    <%= f.text_field :vision_test %><br>
  </div>
  <div class="field">
    <%= f.label :vision_acuity_left %>
    <%= f.text_field :vision_acuity_left %><br>
  </div>
  <div class="field">
    <%= f.label :vision_acuity_right %>
    <%= f.text_field :vision_acuity_right %><br>
  </div>
  <div class="field">
    <%= f.label :vision_rescreening %>
    <%= f.text_field :vision_rescreening %><br>
  </div>
  <div class="field">
    <%= f.label :vision_color %>
    <%= f.text_field :vision_color %><br>
  </div>
  <div class="field">
    <%= f.label :vision_comments %>
    <%= f.text_field :vision_comments %><br>
  </div>

    <div  class: "btn btn-large btn-primary">
    <%= f.submit %>
  </div>

<% end %>
</br>
</br>
</br>
