<td><%= link_to 'Child', child_path, class: "btn btn-success" %></td>
<td><%= link_to 'Vitals', vitals_path, class: "btn btn-success" %></td>
<td><%= link_to 'Hearing', vitals_path, class: "btn btn-success" %></td>
<td><%= link_to 'Vision', vitals_path, class: "btn btn-success" %></td>
<td><%= link_to 'Physical I', vitals_path, class: "btn btn-success" %></td>
<td><%= link_to 'Physical II', vitals_path, class: "btn btn-success" %></td>
<td><%= link_to 'Assessment', vitals_path, class: "btn btn-success" %></td>