<td class="td_menu" >
	<% if @child.gender.blank? %>
  	<%= link_to 'Child', editchild_path, class: "btn btn-success" %>
  <% else %>
  	<%= link_to 'Child', child_path, class: "btn btn-success" %>
	<% end %>

	<% if @child.height_feet.blank? %>
  	<%= link_to 'Vitals', editvitals_path, class: "btn btn-success" %>
  <% else %>
  	<%= link_to 'Vitals', vitals_path, class: "btn btn-success" %>
	<% end %>

	<% if @child.hearing_hz_left_1.blank? %>
  	<%= link_to 'Hearing', edithearing_path, class: "btn btn-success" %>
  <% else %>
  	<%= link_to 'Hearing', hearing_path, class: "btn btn-success" %>
	<% end %>

	<% if @child.vision_acuity_left_1.blank? %>
  	<%= link_to 'Vision', editvision_path, class: "btn btn-success" %>
  <% else %>
  	<%= link_to 'Vision', vision_path, class: "btn btn-success" %>
	<% end %>

	<% if @child.general_appearance.blank? %>
		<%= link_to 'Physical I', editphysicali_path, class: "btn btn-success" %>
	<% else %>
		<%= link_to 'Physical I', physicali_path, class: "btn btn-success" %>
	<% end %>

	<% if @child.lymph_all_normal.blank? %>
		<%= link_to 'Physical II', editphysicalii_path, class: "btn btn-success" %>
	<% else %>
		<%= link_to 'Physical II', physicalii_path, class: "btn btn-success" %>
	<% end %>

	<% if @child.well_child_check.blank? %>
		<%= link_to 'Assessment', editassessment_path, class: "btn btn-success" %>
	<% else %>
		<%= link_to 'Assessment', assessment_path, class: "btn btn-success" %>
	<% end %>

</td>